@font-face{
  font-family:SFProDisplay;
  src:url(../fonts/SFProDisplay/SFProDisplay-Regular.ttf);
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

*,:after,:before{
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

body{
font-family:SFProDisplady, sans-serif;
font-size: 20px;
overflow-x: hidden;
color: #06002E
}

header{
  position: sticky;
}

.gradient{
width: auto;
height: 64vh;
background: linear-gradient(67.24deg, rgba(236, 84, 111, 0.6) 0.56%, rgba(93, 90, 236, 0.6) 99.11%);
background-position: center center;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}

.doctors-img{
  background-image: url('../img/doctors.png');
  background-position: top center;
  width: auto;
  height: 70vh;
  background-repeat: no-repeat;
}

.container{
  margin-top: 40px;
  margin-left: 7px;
}

.conteiner-user{
  display: flex;
  margin-top: 109px;
  justify-content: center;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.search-input{
  width: -webkit-fill-available;
  height: 51px;
  background: rgba(255, 255, 255, 0.02);
  border: 2px solid #FFFFFF;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  padding-left: 32px;
  color: white;
  font-size: 19px;
}

.search-input::-webkit-input-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input::-moz-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input:-moz-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input:-ms-input-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input:focus::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input:focus::-moz-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input:focus:-moz-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.search-input:focus:-ms-input-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}

.search-h{
  width: 385px;
  height: 51px;
  left: 528px;
  top: 276px;
  font-family: Coustard;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
  margin-left: 60px;
}

.search-prompt{
  font-family: Coustard;
  margin-top: 11px;
  font-size: 17px;
  line-height: 18px;
  margin-left: 32px;
  color: #FFFFFF;
  margin-bottom: 84px;
}

.search-prompt-a{
  color: white;
  text-decoration: underline;
}

.search-img{
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 31px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  margin: -40px 0px 0px 456px;
  border: none;
}

.btn-white{
  width: 292px;
  height: 77px;
  padding: 25px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 100px;
}

.white-img1{
  background-image: url(../img/icons/btn-white1.png);
  background-repeat: no-repeat;
  background-position: 23px;
  background-size: 39px;
  padding-left: 65px;
  margin-right: 33px;
}


.white-img2{
  background-image: url(../img/icons/btn-white2.png);
  background-repeat: no-repeat;
  background-position: 45px;
  background-size: 39px;
  padding-left: 90px;
  margin-right: 33px;
}

.white-img3{
  background-image: url(../img/icons/btn-white3.png);
  background-repeat: no-repeat;
  background-position: 45px;
  background-size: 39px;
  padding-left: 100px;
}

.p-description{
  font-family: Coustard;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: #06002E;
  margin-top: 31px;
  margin-bottom: 20px;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wine-img{
  background-image: url(../img/icons/wine.png);
  width: 820px;
  height: 23px;
  display: block;
}

.services{
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

.services-btn{
padding: 11px 42px;
width: 190px;
height: 52px;
margin-right: 62px;
margin-top: 7px;
background: #FFFFFF;
border: 2.5px solid #FFD5D5;
border-radius: 100px;
}

.services-p{
  margin: 0;
  font-family: Coustard;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-left: 62px;
}

.services{
  margin-bottom: 41px;
}

.grid{
  display: grid;
  grid: 1fr 100% 147px / 50% 1fr;
  height: 147px;
  font-family: Coustard;
  font-size: 26px;
  line-height: 37px;
  color: #06002E;
}

.grid a{
  color: #06002e;
}

.grid span{
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.span-right{
  margin-left: 29px;
}

.span-left{
  margin-left: 125px;
}

.start{
  margin-right: 29px;
}

.end{
  display: flex;
  justify-content: flex-end;
}

.grid div{
  display: flex;
  height: 147px;
  width: 596px;
  align-items: center;
  padding: 29px
}

section2{
  margin: 0 auto;
  max-width: 1193px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.img-1{
  background-image: url(../img/icons/img1.png);
}

.img-2{
  background-image: url(../img/icons/img2.png);
}

.img-3{
  background-image: url(../img/icons/img3.png);
}

.img-4{
  background-image: url(../img/icons/img4.png);
}

.img-5{
  background-image: url(../img/icons/img5.png);
}

.img-6{
  background-image: url(../img/icons/img6.png);
}

.item1{
  background: #F9DDE2;
}

.slide {
  margin-top: 350px;
  height: 306px;
  position: relative;
  text-align: center;
  margin-bottom: 95px;
  z-index: 0;
}
.slide  input {
    display: none;
}

.slide  input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);

    cursor: pointer;

    z-index: 100;
    position: relative;

    margin-right: 4px;
    top: 90%;

    transition: background 0.8s ease-out 0s;
}

.slide  input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.slide  input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.slide  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.slide  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

img {
  width: 1193px;
  height: 306px;
}

.slide  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide  div  p {
    position: absolute;
    font-size:18px;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px #222;
}

section3{
  margin: 0 auto;
  background-image: url(../../assets/img/form-back.png);
  display: flex;
  width: 1402px;
  height: 677px;
  align-items: center;
  justify-content: center;
}

.making-an-appointment{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.checked{
  padding: 0;
}

.appointment{
  background: rgba(255, 255, 255, 0.02);
  border: 2px solid #FFFFFF;
  backdrop-filter: blur(4px);
  border-radius: 50px;
  /* padding: 11px; */
  color: white;
  font-size: 24px;
  line-height: 24px;
  font-family: Segoe MDL2 Assets;
  width: 369px;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 22px;
}

.appointment option{
  color: black;
}

.an-appointment div{
  margin-bottom: 16px;
}

.an{
  display: flex;
  justify-content: flex-end;
  margin-right: 179px
}

.an p{
  margin: 0;
}

.an label{
  display: flex;
  justify-content: flex-start;
  margin-right: 32px;
  font-size: 36px;
}

.ap{
  font-size: 26px;
}

.making-input::-webkit-input-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-family: Segoe MDL2 Assets;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.making-input::-moz-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.making-input:-moz-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.making-input:-ms-input-placeholder{
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: white;
}
.making-input:focus::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.making-input:focus::-moz-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.making-input:focus:-moz-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.making-input:focus:-ms-input-placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}

.btn-making{
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  color: white;
  cursor: pointer;
  padding: 4px 16px;
  font-size: 24px;
  line-height: 34px;
}

.ti{
  font-size: 36px;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox']{
    --active: #275efe00;
    --active-inner: #fff;
    --focus: 2px rgba(39,94,254,.3);
    --border: #bbc1e1;
    --border-hover: #275efe00;
    --background: #ffffff4f;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    /* -moz-appearance: none; */
    height: 21px;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
}

.message{
  color: #fe6782;
}

.form-in input,.form-up input{
  -webkit-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
  padding:10px;margin-bottom:16px;
  border:unset;
  border-bottom:2px solid #e3e3e3
}

.form-in p,.form-up p{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
}

.insubmit,.upsubmit{
  border:none;border-radius:4px;
  background-color:#fe6782;
  padding:6px;
  color:#fff;
  cursor:pointer
}

.help{
  margin-top:10px;
  margin-bottom:0
}

.errors{
  -webkit-transition:all .4s ease;
  -o-transition:all .4s ease;
  transition:all .4s ease;
  opacity:1;
  color:#ff4332;
  margin:16px
}

.hidden{
  opacity:0
}

.logout{all:unset;cursor:pointer;color:#c4c4c4;-webkit-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.sidebar-user{
  width:256px
}
.nav-user div{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.nav-user div a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;color:#333;margin:10px}
.profil{
  max-width:64px
}
.user{
  color:#4f4f4f;
  width:724px
}
.title-profil{
  margin:0;
  text-align:center;
  color:#333
}
.color-title{
  color:#333
}
.user-teams{color:#4f4f4f;width:724px}
.myteams{-webkit-box-shadow:0 0 16px rgba(34,40,49,.25);box-shadow:0 0 16px rgba(34,40,49,.25);border-radius:6px;width:512px;height:128px}
.title-teams{margin:0;text-align:center;color:#333}
.box-myteams{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 32px}
.box-myteams,.photo{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.description{
  margin-left:70px
}
.email{margin-top:16px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.email input{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;background-color:white;border:none;border-bottom:2px solid #fe6782;;margin-left:131px;width:386px;padding-left:4px;color:#4f4f4f}
.name{margin-top:32px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.name input{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;background-color:white;border:none;border-bottom:2px solid #fe6782;;margin-left:136px;width:386px;padding-left:4px;color:#4f4f4f}
.password{margin-top:32px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.password input{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;background-color:white;border:none;border-bottom:2px solid #fe6782;;margin-left:112px;width:386px;padding-left:4px}
.response{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-top:32px}
.response>:first-child{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}
.response>:last-child{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}
.save{border:none;border-radius:4px;background-color:#fe6782;;padding:8px;color:#fff;cursor:pointer;margin-top:-41px}
.message{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.wrapper-sidebar{
  margin-top:84px
}
.search-filters{background-color:#fff;-webkit-box-shadow:0 2px 4px rgba(34,40,49,.25);box-shadow:0 2px 4px rgba(34,40,49,.25);border-radius:6px;max-width:200px;min-height:32px}
.search-filters input{border:none;border-radius:6px;max-width:200px;min-height:32px;padding-left:16px;padding-right:16px}
.wrapper-content{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:72px}
.box{background-color:#fff;-webkit-box-shadow:0 2px 4px rgba(34,40,49,.25);box-shadow:0 2px 4px rgba(34,40,49,.25);display:flow-root;width:300px;color:#393e46;margin-top:12px;margin-bottom:12px;margin-left:20px;height: 185px;}
.name-teams{margin-left: 16px;font-size:20px;line-height:21px}
.favorites{
  background-color:#52d681
}
.delete,.favorites{cursor:pointer;border:none;-webkit-box-shadow:0 4px 4px rgba(34,40,49,.25);box-shadow:0 4px 4px rgba(34,40,49,.25);border-radius:6px;padding:8px 16px;margin-left:185px;font-size:14px;line-height:17px;color:#eee}
.delete{
  background-color:#ff4332
}
.about-teams{
  min-width:276px;
  margin:16px 12px
}
.line{
  background-color:#dfe6e9;
  display:block;
  height:2px;
  width:300px
}
.contact-teams{
  margin:12px
}
.contact-teams p{
  margin-top:2px;
  margin-bottom:0
}
.wrapper-team{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0 auto;max-width:980px;min-height:100vh;color:#393e46;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.coteiner-team{
  margin-top:24px
}
.contact{-webkit-transition:all .1s ease;-o-transition:all .1s ease;transition:all .1s ease;margin:0 12px;border:none;border-bottom:2px solid #52d681;color:#393e46;width:-moz-available;padding:2px}
.title-create{margin-left:39px;font-size:18px;line-height:21px}
.create-team{display:flow-root;background-color:#fff;-webkit-box-shadow:0 2px 4px rgba(34,40,49,.25);box-shadow:0 2px 4px rgba(34,40,49,.25);border-radius:6px;width:300px;margin:0 auto;min-height:320px;color:#393e46}
.create-team p{
  text-align:center;
  margin:16px
}
.create-name{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;border:none;border-bottom:2px solid #52d681;margin:14px 0 19px 102px;width:186px;padding:2px;color:#393e46}
.create-send{cursor:no-drop;border:none;background-color:#828282;-webkit-box-shadow:0 4px 4px rgba(34,40,49,.25);box-shadow:0 4px 4px rgba(34,40,49,.25);border-radius:6px;width:128px;height:32px;margin-left:102px;font-size:14px;line-height:17px;color:#eee}
.create-about{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;border:2px solid #52d681;border-radius:6px;margin:18px 12px;width:276px;height:111px;font-family:SFUIText-Regular,sans-serif;font-style:normal;font-weight:400;font-size:12px;line-height:14px;color:#393e46;padding:6px;resize:none}
.create{background-color:#52d681;border:none;-webkit-box-shadow:0 4px 4px rgba(34,40,49,.25);box-shadow:0 4px 4px rgba(34,40,49,.25);border-radius:6px;display:block;width:128px;height:32px;margin:18px auto;font-size:14px;line-height:17px;color:#eee;cursor:pointer}
.user-Favorites{
  width:724px
}

.list-doctors{
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-doctors{
  border: solid 1px #06002e;
  border-radius: 8px;
  width: 1224px;
  height: 151px;
  margin: 12px;
}

.doctors{
 padding: 16px;
}

.pictures{
  border-radius: 8px;
  width: 96px;
  height: 111px;
  margin-right: 15px;
}

.name-doctors{
  margin: 0px 8px 8px 8px;
  position: absolute;
}

.name-specialty{
  margin: 34px 8px 8px 8px;
  position: absolute;
}

.name-education{
  margin: 68px 8px 8px 8px;
  position: absolute;
  width: 900px;
}

.add{
  background-color: #52d681;
  cursor:pointer;
  border:none;
  -webkit-box-shadow:0 2px 6px rgba(34,40,49,.25);
  box-shadow:0 2px 6px rgba(34,40,49,.25);
  border-radius:15px;
  padding:7px 22px;
  font-size:14px;
  line-height:17px;
  color:#eee;
  position: absolute;
  margin: -32px 0px 0px 1110px;
}

.del{
  background-color: #ff4332;
  cursor:pointer;
  border:none;
  -webkit-box-shadow:0 2px 6px rgba(34,40,49,.25);
  box-shadow:0 2px 6px rgba(34,40,49,.25);
  border-radius:15px;
  padding:7px 22px;
  font-size:14px;
  line-height:17px;
  color:#eee
}

.btn-dock {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: -100px 0px 0px auto;
}

.form-popup input[type='file']{
  margin: 16px 0 16px;
}

.footer{
  background-image: url(../../assets/img/footer.png);
  display: block;
  width: 1402px;
  height: 540px;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}
