body,ul{
  margin:0;
  padding:0
}

ul{
  list-style-type:none
}

a{
  text-decoration:none
}

a,input{
  outline:none!important
}

header{
  width: 100vw;
  height: 84px;
  background-color: white;
  z-index: 2;
}

.wrapper{
  margin: 0 auto;
  max-width: 1416px;
}

.contact{
  position: fixed;
  background-color: white;
}

.top a {
  margin-bottom: 17px;
  font-size: 14px;
  color: #847373;
  margin-top: 17px;
  display: inline-block;
}

.top span {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: 16px;
}

.location{
  margin-left: 142px;
  margin-right: 36px;
}

.phone{
    margin-left: 20px;
    margin-right: 520px;
}

.profile{
  margin-left: 20px;
}

.results{
  margin-left: 20px;
  margin-right: 36px;
}

.sign-in{
    margin-left: 32px;
    margin-right: 125px;
}

.logout{
    margin-left: 32px;
}

.location-img{
  margin-left: 125px;
  background-image: url(../img/icons/location.png);
}

.phone-img{
  background-image: url(../img/icons/phone.png);
}

.results-img{
  background-image: url(../img/icons/past.png);
}

.sign-in-img{
  background-image: url(../img/icons/user.png);
}

.hr{
  width: auto;
  height: 1px;
  background-color: #957979;
  opacity: 0.35;
  display: block;
  margin-right: 7px;
}

.wrapper-nav{
  transition: all .3s ease;
  width: 1416px;
  background-color: white;
}

nav{
  display: flex;
  margin: 0 125px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li a {
  margin-right: 43px;
  color: #06002E;
}

nav ul li a:last-child {
  margin-right: 0px;
}

.home{
  display: flex;
  align-items: center;
}

.logo-img{
  background-image: url(../img/icons/logo.png);
  width: 41px;
  height: 46px;
  margin: 18px 0;
  margin-right: 17px;
}

.logo-title{
  font-family: Coustard;
  color: #FE6782;
  font-size: 24px;
}
