@font-face{
  font-family:SFProDisplay;
  src:url(../fonts/SFProDisplay/SFProDisplay-Regular.ttf)
}

*,:after,:before{
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

body{
font-family:SFProDisplay, sans-serif;
font-size: 20px;
color: #06002E
}

body,ul{
  margin:0;
  padding:0
}

ul{
  list-style-type:none
}

a{
  text-decoration:none
}

a,input{
  outline:none!important
}

header{
  width: 100vw;
  height: 84px;
  background-color: white;
}

.wrapper{
  margin: 0 auto;
  max-width: 1416px;
}

.contact a {
  margin-bottom: 17px;
  font-size: 14px;
  color: #847373;
  margin-top: 17px;
  display: inline-block;
} span {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: 16px;
}

.location{
  margin-left: 142px;
  margin-right: 36px;
}

.phone{
    margin-left: 20px;
    margin-right: 540px;
}

.results{
  margin-left: 20px;
  margin-right: 36px;
}

.sign-in{
    margin-left: 18px;
    margin-right: 125px;
}

.location-img{
  margin-left: 125px;
  background-image: url(../img/icons/location.png);
}

.phone-img{
  background-image: url(../img/icons/phone.png);
}

.results-img{
  background-image: url(../img/icons/past.png);
}

.sign-in-img{
  background-image: url(../img/icons/user.png);
}

.hr{
  width: auto;
  height: 1px;
  background-color: #957979;
  opacity: 0.35;
  display: block;

}

nav{
  display: flex;
  justify-content: space-between;
  margin: 0 125px;
}

.nav ul {
  display: flex;
  margin: 0 125px;
  align-items: center;
} a {
  margin-right: 43px;
}

.home{
  display: flex;
  align-items: center;
}

.logo-img{
  background-image: url(../img/icons/logo.png);
  width: 41px;
  height: 46px;
  margin: 18px 0;
  margin-right: 17px;
}

.logo-title{
  font-family: Coustard;
  color: #FE6782;
  font-size: 24px;
}
