.td-p{
  padding: 8px;
  vertical-align: middle;
  width: 1000px;
}

.td-pink{
  background-color: #F9DDE2;
}

.td-price{
  font-family: segoeb;
  text-align: center;
  width: 25%;
}

*{
  margin: 0;
}

.container{
  margin-left: 110px;
  margin-top: 133px;
  display: inline-block;
  width: 1306px;
}

.prices{
  color: #0d0065;
  text-align: center;
  margin: 30px auto;
}

.dropdown-list {
  display: none;
  margin-top: 20px;
}

.userdata{
  font-size: 24px;
}

ul{
  max-width: 1200px;
}

.dropdown{
  margin-bottom: 20px;
}
